textarea {
    resize: none;
    white-space: pre;
}

input[type=number] {
    width: 50px;
}

.center {
    display: table;
    margin: 0 auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

.bigButton {
    width: auto;
    height: 50px;
    font-size: 25px;
}

.wideButton {
    width: 350px;
}

#leftSide {
    vertical-align: top;
    width: 40%;
}

#rightSide {
    vertical-align: top;
    width: 60%;
}

#outputCanvas {
    border: 1px solid black;
}

#inputText, #lyrics {
    width: 100%;
}

#startTimes, #endTimes {
    overflow-y: hidden;
}

#currentLine {
    font-size: 30px;
    font-weight: bold;
}

#nextLine {
    font-size: 20px;
}
