textarea {
    resize: none;
    white-space: pre;
}

input[type=number] {
    width: 50px;
}

input[type=color] {
    width: 120px;
    height: 50px;
}

.center {
    display: table;
    margin: 0 auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.absolute {
    position: absolute;
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

.bigButton {
    width: auto;
    height: 50px;
    font-size: 25px;
}

.wideButton {
    width: 350px;
}

#leftSide {
    vertical-align: top;
    width: 40%;
}

#rightSide {
    vertical-align: top;
    width: 60%;
}

#outputCanvas {
    border: 1px solid black;
}

#startTimes, #endTimes {
    overflow-y: hidden;
}

#currentLine {
    font-size: 30px;
    font-weight: bold;
}

#nextLine {
    font-size: 20px;
}

/*
  Based heavily on:
  https://www.w3schools.com/howto/howto_js_rangeslider.asp
*/
#timeSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 97.5%; /* Full-width */
    height: 15px;
    border-radius: 5px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#timeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px;
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

#timeSlider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px;
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

#playerButtons {
    width: 95%;
}

#timer {
    float: inline-end;
}

#selectColourText {
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}
